#{extends 'main.html' /}
#{set title:'羞羞视频管理' /}
#{set tabIndex:1 /}

	<div class="row">
	
	
	#{list filers, as:'item'}
	<div class="col-sm-3 col-xs-6 " style="padding: 4px;" >
		<div class="thumbnail album">
		<a class="album-left" href="@{Application.detail(item.id)}" title="${item.name}">
			<div class="ratio" style="background-image:url('@{Application.image(item.id)}')">
				<b class="pull-right">${item.lastModified}</b>
			</div>
		</a>
		
		<div class="text-center" style="position: relative;">
			<span class=" text-single-line">${item.name}</span>
		</div>
		</div>
	</div>
	#{/list}
	</div>
	
	<div class="row text-center">
	#{pagination data:page /}
	</div>
