#{extends 'main.html' /}
#{set title:'羞羞视频管理' /}

	<div class="row">
	
	
	#{list filers, as:'item'}
	<div class="col-sm-2 col-xs-4 " style="padding: 4px;" >
		<div class="thumbnail album">
		<a class="album-left" target="_blank" href="@{Application.detail(item.id)}" title="${item.name}">
			<div class="ratio" style="background-image:url('@{Application.image(item.id)}');position: relative;">
				<b class="pull-right">#{date data:item.lastModified /}</b>
				<span class="badge" style="position: absolute;bottom: 0;right: 0;">${item.tags}</span>
			</div>
		</a>
		
		<div class="text-center" style="position: relative;">
			<span class=" text-single-line">${item.name}</span>
		</div>
		</div>
	</div>
	#{/list}
	</div>
	
	<div class="row text-center">
	#{pagination data:page /}
	</div>
