#{extends 'base.html' /}
#{set title:'视频详情' /}

#{append 'styles'}
<link href="@{'/public/third/video6.6.2.js/css/video-js.min.css'}" rel="stylesheet">
#{/append}
<div class="container">
	<div class="row">
		<ol class="breadcrumb">
		  <li><a href="@{Application.folder()}">Home</a></li>
		  #{list parents, as:'item'}
		  <li><a href="@{Application.folder(item.id)}">${item.name ?: 'Untitled'}</a></li>
		  #{/list}
		</ol>
	</div>
	<div class="row">
		<div class="col-sm-8 col-xs-12 col-sm-offset-2" style="padding: 4px;" >
			<h3>${filer.name}</h3>
			#{if filer.type == '1'}
			<object classid="clsid:CFCDAA03-8BE4-11cf-B84B-0020AFBBCCFA"
				height="515" id="RAOCX" name="rmplay" width="700">
				<param name="SRC" value="http://www.maimic.com/realplayer/123.rmvb" />
				<param name="_ExtentX" value="9313" />
				<param name="_ExtentY" value="7620" />
				<param name="AUTOSTART" value="1" />
				<param name="SHUFFLE" value="0" />
				<param name="PREFETCH" value="0" />
				<param name="NOLABELS" value="0" />
				<param name="CONTROLS" value="ImageWindow,ControlPanel" />
				<param name="CONSOLE" value="Clip2" />
				<param name="LOOP" value="0" />
				<param name="NUMLOOP" value="0" />
				<param name="CENTER" value="0" />
				<param name="MAINTAINASPECT" value="0" />
				<param name="BACKGROUNDCOLOR" value="#000000" />
				<embed src="${filer.videoUrl}"
					type="audio/x-pn-realaudio-plugin" console="Clip1"
					controls="ImageWindow,ControlPanel" height="515" width="700"
					autostart="true" />
			</object>
			#{/if}
			#{else}
			<video id="my-video" class="video-js" controls preload="auto" width="100%"
			  poster="m.png" data-setup="{}">
				<source src="${filer.videoUrl}" type="video/mp4" />
		  </video>
		  #{/else}
		  <div style="margin-top: 10px;">
		  	#{selectTags tags:filer.tags?.split(','),id:filer.id,all:tags /}
		  </div>
		</div>
	</div>
</div>
	
