#{extends 'base.html' /}
#{set title:'视频详情' /}

#{append 'styles'}
<link href="@{'/public/third/video6.6.2.js/css/video-js.min.css'}" rel="stylesheet">
#{/append}
<div class="container">
	<div class="row">
		<ol class="breadcrumb">
		  <li><a href="/">Home</a></li>
		  #{list parents, as:'item'}
		  <li><a href="@{Application.folder(item.id)}">${item.name ?: 'Untitled'}</a></li>
		  #{/list}
		</ol>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h3><a href="${filer.videoUrl}">${filer.name}</a></h3>
		</div>
		<div class="col-sm-8 col-xs-12" style="padding: 4px;" >
			
			#{if filer.type == '1'}
			<object style="z-index: -999;" type='application/x-vlc-plugin' id='vlc' events='True' width="720" height="540" pluginspage="http://www.videolan.org" codebase="http://downloads.videolan.org/pub/videolan/vlc-webplugins/2.2.2/npapi-vlc-2.2.2.tar.xz">
                <param name='mrl' value='${filer.videoUrl}' />
                <param name='volume' value='50' />
                <param name="toolbar" value="true" />
                <param name='loop' value='true' />
                <embed type="application/x-vlc-plugin" pluginspage="http://www.videolan.org" name="vlc" />
            </object>
			
			#{/if}
			#{else}
			<video id="my-video" class="video-js" controls preload="auto" width="100%"
			  poster="${filer.videoUrl + '.jpg'}" data-setup="{}">
				<source src="${filer.videoUrl}" type="video/mp4" />
		  </video>
		  #{/else}
		  <div style="margin-top: 10px;">
		  	#{selectTags tags:filer.tags?.split(','),id:filer.id,all:tags,tagstr:filer.tags /}
		  </div>
		</div>
		<div class="col-sm-4 col-xs-12">
			<form action="@{Application.updateDescription()}">
			<input type="hidden" name="id" value="${filer.id}" />
			<p>简介:</p>
			<textarea name="description" class="form-control" rows="6">${filer.description}</textarea>
			<br/>
			<p align="center"><input type="submit" class="btn btn-primary" /></p>
			</form>
		</div>
	</div>
</div>
	
