%{
def pageURL = utils.URLUtil.removeParam(request.url, "pageNo");
}%
#{if _data?.totalCount > 0}
<nav aria-label="分页">

  <ul class="pagination">
  	<li>
  		  <span>共${_data.totalCount}条</span>
  	</li>
    <li>
      <a href="${pageURL}1" aria-label="第一页">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    #{list _data?.shows, as:'item'}
    <li><a class="${item==_data.pageNo ? 'selected' : ''}" href="${pageURL}${item}">${item}</a></li>
    #{/list}
    <li>
      <a href="${pageURL}${_data?.totalPage}" aria-label="最后一页" title="${_data?.totalPage}">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
#{/if}
#{else}
<p><strong>没有数据</strong></p>
#{/else}