#{append 'styles'}
<style>

#selectTagsPanel{
	display: inline-block;
}
.selectedItem
{
	padding-right: 10px;
}
</style>
#{/append}

#{append 'scripts'}
<script type="text/javascript">
function removeTag(id, tag)
{
	
	console.log(">>>" + id + "." + tag);
	$.get('@{Application.removeTag()}' + '?id=' + id + '&tag=' + tag, function(data){});
}
</script>
#{/append}

<div id="selectTagsPanel">
	#{list _tags , as:'c'}
	<span class="btn btn-default">
		<span class="selectedItem">${c}</span>
		<button type="button" data-tag="${c}" class="close" onclick="$(this).parent().remove();removeTag(${_id}, $(this).attr('data-tag'))"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	</span>
	#{/list}
</div>
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#addTagsModal">
	<span class="glyphicon glyphicon-plus"></span> 添加TAG
</button>
#{modalAction id:'addTagsModal', title:'选择TAG', action:play.mvc.Router.reverse("Application.addTag").url}
	
		<input type="hidden" name="id" value="${_id}" />
		<div class="row">
			#{list _all , as:'c'}
			<div class="col-sm-3">
			<div>
				<div class="radio">
				  <label>
				    <input type="radio" name="tagRadios" value="${c.id}">
				   ${c.name}
				  </label>
				</div>
			</div>
			</div>
			#{/list}
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="radio">
				  <label>
				    <input type="radio" name="tagRadios" value="custom">
				    <input type="text" name="newTags" placeholder="自定义" />
				  </label>
				</div>
			</div>
		</div>
#{/modalAction}