.btn
{
	border-radius: 0;
}

.dropdown-menu
{
	border-radius: 0;
}
.form-control
{
	border-radius: 0;
}
.img-thumbnail
{
	border-radius: 0;
}

.modal-content
{
	border-radius: 0;
}

.nav-pills>li>a
{
	border-radius: 0;
}
.navbar
{
	border-radius: 0;
}
.navbar-toggle
{
	border-radius: 0;
}
.thumbnail
{
	border-radius: 0;
}
.well
{
	border-radius: 0;
}